/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}*/

html, body {
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #222
}

header {
    margin-bottom: 10px;
    /*height: 120px;*/
    min-height: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #efefef;
    text-align: center
}

#datastruct {
  width: 98%;
  height: 150px;
  border: 1px solid lightgray;
  margin:0 auto
}

header h1 {
    text-transform: uppercase;
    font-size: 48pt;
    font-weight: bold
}

button {
    height: 30px;
    line-height: 16px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    background-color: #777;
    text-shadow: 0 0 3px #aaa;
    border: 1px solid #666;
    border-radius: 5px;
    margin-right: 5px;
}

button.right {
    margin-left: 5px;
    margin-right: 0;
}

.manual {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    min-height:40px;
    height: 40px;
    margin-bottom: 10px;
}

.vismain {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    min-height: 200px;
    margin: 0 auto;
    background-color: #efefef;
    margin-bottom: 10px;
}

.code {
    width: -webkit-calc(100%);
    width: calc(100%);
    margin: 10px 0 10px 0;
    margin: 0 auto;
    margin-bottom: 10px;
    min-height: 200px;
}

#code {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    min-height: 350px;
    margin: 0 auto
}

.main > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}


@media all and (max-width: 640px) {
    .main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .main .console {
        padding: 0 50px 0 20px
    }

    .main .tutorial {
        -webkit-box-flex: 3;
        -webkit-flex: 3;
        -moz-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        margin-bottom: 20px;
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1
    }
}

.main .console {
    padding-right: 20px;
    font-family: monospace;
    overflow: auto
}

.main .console .info {
    color: #222;
    margin-bottom: 10px
}

.main .console code {
    white-space: pre-wrap;
    word-break: break-all;
    color: #185694
}

.main .console .prompt + code {
    color: #128905
}

.main .console .prompt + code {
    color: #128905
}

.main .console .prompt {
    color: #185694
}

.main .console input {
    font-size: 13px;
    font-family: monospace;
    border: 0;
    outline: none;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    margin-top: -2px;
    margin-left: -1px
}

.main .console li:nth-child(even) {
    margin: 5px 16px
}

.main .console .error {
    color: #d14
}

.main .tutorial {
    padding: 0 50px 0 20px;
    overflow: auto
}

.main .tutorial h2 {
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 20px
}

.main .tutorial p, .main .tutorial pre {
    line-height: 1.4;
    margin-bottom: 10px
}

.main .tutorial li {
    line-height: 1.4;
    margin-bottom: 5px
}

.main .tutorial code {
    font-family: monospace;
    white-space: pre;
    border-radius: 3px;
    background: #eee;
    padding: 3px;
    color: #128905
}

.main .tutorial em {
    font-style: italic
}

.main .tutorial strong {
    font-weight: bold
}

.main .tutorial .lesson:not(.lesson1) {
    display: none
}

footer {
    margin-top: 30px;
    height: 90px;
    min-height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #efefef;
    text-align: center
}

@media all and (max-width: 640px) {
    footer {
        height: 40px
    }
}

@media all and (max-width: 500px) {
    footer small {
        display: none
    }
}

@media all and (max-width: 500px) {
    .gh-ribbon {
        display: none
    }
}

.hidden-storage {
    display: none
}
